body {
    background-color: #9C835F;
}

.box:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.box:hover {
    background-color: #C4C4C4;
    padding: 70px;
    border: none;
    border-radius: 15px;
}

.midle {
    display: flex;
    font-size: 144px;
    align-items: center;
    text-align: center;
}

.reset-btn {
    display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.reset-btn:hover {
    transform: scale(1.2);
}